body {
    background-color: #00f;
    color: #fff;
    margin: 20px;
    text-align: center;
    font-family: "Rakkas", serif;
}

h1 {
    font-weight: normal;
}

button {
    font-family: "Rakkas", serif;
    font-size: 1em;
    background-color: #fff;
    border: 0;
    color: #00f;
    margin-top: .5rem;
    width: 100%;

    /* Media Queries */
    @media (min-width: 37.5em) {
      width: auto; /* Smaller buttons on larger screens */
      padding-left: 2rem;
      padding-right: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    } 
}

#buttons {
    font-family: "Rakkas", serif;
    font-size: 1.5em;
}
